* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', arial;
}

.recipe1 h1 {
    padding: 32px;
    background-color: pink;
}

.instructions {
    background-color: green;
}

.ingredients {
    background-color: green;
}

.instructions img {
    height: 500px;
    width: 600px;
}

.both {
    display: flex;
    justify-content: center;
    align-items: center;
}